@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  font-family: "Quicksand", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
}

/* color variables */
:root {
  --orrange: rgb(254, 163, 1);
  --blue: rgb(1, 172, 253);
  --slate-Blue: rgb(93, 88, 239);
  --Cyan: rgb(5, 212, 223);
  --dark: rgb(17, 17, 17);
  --light: rgb(255, 255, 255);
  --light-green: rgb(149, 178, 38);
}

/* shared class */
.grid-content,
.full-width {
  --initial-padding: 10px;
  display: grid;
  grid-template-columns:
    [full-width-start] 1fr var(--initial-padding) [content-start] minmax(
      0,
      1160px
    )
    [content-end] var(--initial-padding) 1fr [full-width-end];
}

.grid-content > *,
.full-width > * {
  grid-column: content;
}

.full-width {
  grid-column: full-width;
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.btn {
  font-size: 1.25rem;
  padding: 10px 50px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
}

.btn-secondary {
  background: var(--dark);
  padding: 12px 24px;
  font-size: 1rem;
}

.medium-header {
  font-size: 1.625rem;
  text-align: center;
}

.small-header {
  font-size: 1rem;
}
.extra-small-header {
  font-size: 0.8rem;
}
.desc-text {
  color: hsla(0, 0%, 51%, 1);
}

/* nav styles starts */
nav {
  max-width: 1160px;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 0.5px solid var(--orrange);
}

.logo-container {
  padding-inline-start: 10px;
  justify-content: center;
}

.logo-text,
.nav-items,
.btn-primary {
  display: none;
}

.menu-icon {
  font-size: 1.8rem;
  padding-inline-end: 10px;
}
/* nav styles ends */

/* banner styles starts*/
.banner-section {
  margin-top: 20px;
}

.banner-container {
  align-items: center;
  gap: 20px;
}

.banner-content {
  gap: 18px;
  align-items: center;
  text-align: center;
}

.main-header {
  font-size: 2rem;
}
.orange-text {
  color: var(--orrange);
}
.blue-text {
  color: var(--blue);
}
.banner-desc-text {
  font-size: 0.875rem;
  color: var(--dark);
}

.banner-img img {
  width: 100%;
}
/* banner styles ends */

/* standard curriculum starts */
.standard-curriculam {
  align-items: center;
  /* gap: 80px; */
  gap: 50px;
  background-image: url(../assets/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}

/* .medium-header {
  font-size: 2.875rem;
} */

.curriculam-card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 28px;
}

.curriculum-card {
  justify-content: center;
  align-items: center;
  max-width: 367px;
  gap: 32px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  border-radius: 18.86px;
  padding: 53px 40px;
  text-align: center;
}

.curriculum-card-1 {
  border: 0.94px solid rgb(222, 245, 255);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.curriculum-card-2 {
  border: 0.94px solid rgb(255, 244, 220);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.curriculum-card-3 {
  border: 0.94px solid rgb(242, 232, 255);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.curriculum-card-1 a {
  color: var(--blue);
}
.curriculum-card-2 a {
  color: var(--orrange);
}

.curriculum-card-3 a {
  color: hsla(271, 100%, 51%, 1);
}

.arrow-icon {
  display: none;
}
/* standard curriculum ends */

/* our stories styles starts */
.stories-section {
  justify-content: center;
  align-items: center;
  background: url(../assets/bg.png),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
  background-position: center;
  background-size: contain;
}

.stories-section-content {
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 60px 0;
}

.stories-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.stories-card {
  justify-content: center;
  gap: 30px;
  background: var(--light);
  border-radius: 16px;
  min-width: 150px;
  max-width: 292px;
}

.story-card-img {
  display: flex;
  position: relative;
  border-radius: 16px 16px 0px 0px;
}

.story-card-img img {
  width: 100%;
  border-radius: 16px 16px 0px 0px;
}

.story-card-img .btn {
  font-size: 0.56rem;
  padding: 9px 14px;
  position: absolute;
  bottom: -14px;
  left: 10%;
}

.long-card {
  display: none;
}

.btn-story-2 {
  background-color: var(--light-green);
}
.btn-story-3 {
  background-color: var(--Cyan);
}
.btn-story-4 {
  background-color: var(--blue);
}
.btn-story-5 {
  background-color: var(--orrange);
}
.story-card-content {
  padding: 20px;
  padding-top: 0;
  gap: 20px;
}
/* our stories styles ends */

/* footer styles start */
footer {
  background-color: var(--blue);
  color: var(--light);
  padding: 120px 0;
}

footer .desc-text {
  color: var(--light);
}

.footer-content {
  padding-inline-start: 10px;
  justify-content: space-between;
  gap: 50px;
}

.footer-logo-content {
  max-width: 400px;
  gap: 22px;
}

.footer-logo-content .desc-text {
  font-size: 1rem;
}
.footer-logo {
  gap: 8px;
  align-items: center;
  margin-inline-start: -5px;
}
.footer-logo-img img {
  height: 100%;
}
.footer-header {
  font-size: 2.1rem;
  line-height: 2.1rem;
}

.footer-nav-container,
.social-icon-container {
  gap: 30px;
}

.footer-nav-container .small-header,
.social-icon-container .small-header {
  font-size: 1.5rem;
}

.footer-nav-items {
  gap: 17px;
}

.footer-nav-link {
  color: var(--light);
  font-size: 1.25rem;
  font-weight: 500;
}

.social-icon-container {
  padding-inline-end: 30px;
}

.social-icon {
  gap: 10px;
}
.social-icon > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 4px;
}
.fb-icon {
  background: rgb(59, 89, 152);
}
.dribble-icon {
  background: rgb(234, 76, 137);
}
.twitter-icon {
  background: rgb(29, 161, 242);
}
.google-plus-icon {
  background: rgb(221, 75, 57);
}
/* footer styles end */

/* responsive design */
@media only screen and (min-width: 576px) {
  /* header section styles */
  nav {
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border: none;
  }

  .logo-container {
    justify-content: center;
    gap: 10px;
  }

  .logo-text {
    display: block;
    align-self: center;
    font-size: 2rem;
  }

  .nav-items {
    display: flex;
    gap: 32px;
  }

  .nav-link {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .home-link {
    color: var(--orrange);
  }
  .about-link {
    color: var(--slate-Blue);
  }
  .facilities-link {
    color: var(--Cyan);
  }
  .admission-link {
    color: var(--blue);
  }

  .btn-primary {
    display: block;
    background: var(--orrange);
  }

  .menu-icon {
    display: none;
    font-size: 1.5rem;
  }

  /* banner styles starts*/
  .banner-container {
    flex-direction: row;
    gap: 50px;
  }

  .banner-content {
    align-items: flex-start;
    text-align: left;
  }

  .main-header {
    font-size: 3.5rem;
    line-height: 3.813rem;
  }

  .banner-desc-text {
    font-size: 1.25rem;
  }
  .btn-secondary {
    background: var(--dark);
    padding-inline: 45px;
    font-size: 1.25rem;
  }

  .banner-img {
    order: 2;
  }

  .banner-img img {
    width: revert;
  }
  /* banner styles ends */

  /* standard curriculum starts */
  .standard-curriculam {
    gap: 80px;
  }

  .curriculam-card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .curriculum-card {
    justify-content: center;
    align-items: center;
    max-width: 367px;
    gap: 32px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 18.86px;
    padding: 53px 40px;
    text-align: center;
  }

  .arrow-icon {
    display: flex;
    gap: 10px;
  }
  .arrow-icon span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    background: var(--orrange);
    border-radius: 50%;
    cursor: pointer;
  }
  /* standard curriculum ends */

  /* stories card styles starts */
  .medium-header {
    font-size: 2.875rem;
  }

  .stories-section-content {
    gap: 80px;
    padding: 60px 0;
  }

  .stories-card-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 19px;
  }

  .stories-card {
    gap: 40px;
  }

  .story-card-img .btn {
    font-size: 0.9rem;
    padding: 9px 18px;
    position: absolute;
    bottom: -17px;
    left: 10%;
  }

  .story-card-img .btn-story-1 {
    font-size: 1rem;
    padding: 14px 18px;
    background-color: var(--blue);
    bottom: -23px;
  }

  .small-header {
    font-size: 1.5rem;
  }

  .extra-small-header {
    font-size: 1rem;
  }

  .long-card {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    justify-content: space-between;
    grid-row: span 2;
    height: 100%;
    max-width: 100%;
  }
  .story-card-img img {
    width: 100%;
  }

  .story-card-content {
    padding: 30px;
    padding-top: 0;
  }
  /* stories card styles ends */

  /* footer styles start */

  .footer-content {
    flex-direction: row;
    gap: 150px;
  }
  .footer-logo-content {
    gap: 35px;
  }

  .footer-logo-content .desc-text {
    font-size: 1.25rem;
  }
  .footer-logo {
    gap: 10px;
  }

  .footer-header {
    font-size: 2.6rem;
    line-height: 2.4rem;
  }

  .footer-nav-items {
    gap: 20px;
  }

  .social-icon > * {
    width: 40px;
    height: 40px;
  }
  /* footer styles end */
}
