@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  font-family: "Quicksand", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  list-style: none;
  text-decoration: none;
}

/* color variables */
:root {
  --orrange: rgb(254, 163, 1);
  --blue: rgb(1, 172, 253);
  --slate-Blue: rgb(93, 88, 239);
  --Cyan: rgb(5, 212, 223);
  --dark: rgb(17, 17, 17);
  --light: rgb(255, 255, 255);
}

/* shared class */
.grid-content,
.full-width {
  --initial-padding: 10px;
  display: grid;
  grid-template-columns:
    [full-width-start] 1fr var(--initial-padding) [content-start] minmax(
      0,
      1160px
    )
    [content-end] var(--initial-padding) 1fr [full-width-end];
}

.grid-content > *,
.full-width > * {
  grid-column: content;
}

.full-width {
  grid-column: full-width;
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.btn {
  font-size: 1.25rem;
  padding: 10px 50px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border-radius: 12px;
  cursor: pointer;
}

.btn-secondary {
  background: var(--dark);
  /* padding-inline: 45px; */
  padding: 12px 24px;
  font-size: 1rem;
}

.medium-header {
  font-size: 2.875rem;
  font-size: 1.8rem;
  text-align: center;
}

.small-header {
  font-size: 1.5rem;
}

.desc-text {
  color: hsla(0, 0%, 51%, 1);
}

/* nav styles starts */
nav {
  max-width: 1160px;
  margin-inline: auto;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 0.5px solid var(--orrange);
}

.logo-container {
  padding-inline-start: 10px;
  justify-content: center;
}

.logo-text,
.nav-items,
.btn-primary {
  display: none;
}

.menu-icon {
  font-size: 1.8rem;
  padding-inline-end: 10px;
}
/* nav styles ends */

/* banner styles starts*/
.banner-section {
  margin-top: 20px;
}

.banner-container {
  align-items: center;
  gap: 20px;
}

.banner-content {
  gap: 18px;
  align-items: center;
  text-align: center;
}

.main-header {
  font-size: 2rem;
}
.orange-text {
  color: var(--orrange);
}
.blue-text {
  color: var(--blue);
}
.banner-desc-text {
  font-size: 0.875rem;
  color: var(--dark);
}

.banner-img img {
  width: 100%;
}
/* banner styles ends */

/* standard curriculum starts */
.standard-curriculam {
  align-items: center;
  border: 1px solid red;
  /* gap: 80px; */
  gap: 50px;
  background-image: url(../assets/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
}

.medium-header {
  font-size: 2.875rem;
}

.curriculam-card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 28px;
}

.curriculum-card {
  justify-content: center;
  align-items: center;
  max-width: 367px;
  gap: 32px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  border-radius: 18.86px;
  padding: 53px 40px;
  text-align: center;
}

.curriculum-card-1 {
  border: 0.94px solid rgb(222, 245, 255);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.curriculum-card-2 {
  border: 0.94px solid rgb(255, 244, 220);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.curriculum-card-3 {
  border: 0.94px solid rgb(242, 232, 255);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}

.curriculum-card-1 a {
  color: var(--blue);
}
.curriculum-card-2 a {
  color: var(--orrange);
}

.curriculum-card-3 a {
  color: hsla(271, 100%, 51%, 1);
}

.arrow-icon {
  display: none;
}
/* standard curriculum ends */

/* our stories styles starts */

/* our stories styles ends */

/* responsive design */
@media only screen and (min-width: 576px) {
  /* header section styles */
  nav {
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border: none;
  }

  .logo-container {
    justify-content: center;
    gap: 10px;
  }

  .logo-text {
    display: block;
    align-self: center;
    font-size: 2rem;
  }

  .nav-items {
    display: flex;
    gap: 32px;
  }

  .nav-link {
    font-size: 1.25rem;
    font-weight: 700;
  }

  .home-link {
    color: var(--orrange);
  }
  .about-link {
    color: var(--slate-Blue);
  }
  .facilities-link {
    color: var(--Cyan);
  }
  .admission-link {
    color: var(--blue);
  }

  .btn-primary {
    display: block;
    background: var(--orrange);
  }

  .menu-icon {
    display: none;
    font-size: 1.5rem;
  }

  /* banner styles starts*/
  .banner-container {
    flex-direction: row;
    gap: 50px;
  }

  .banner-content {
    align-items: flex-start;
    text-align: left;
  }

  .main-header {
    font-size: 3.5rem;
    line-height: 3.813rem;
  }

  .banner-desc-text {
    font-size: 1.25rem;
  }
  .btn-secondary {
    background: var(--dark);
    padding-inline: 45px;
    font-size: 1.25rem;
  }

  .banner-img {
    order: 2;
  }

  .banner-img img {
    width: revert;
  }
  /* banner styles ends */

  /* standard curriculum starts */
  .standard-curriculam {
    gap: 80px;
  }

  .curriculam-card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .curriculum-card {
    justify-content: center;
    align-items: center;
    max-width: 367px;
    gap: 32px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    border-radius: 18.86px;
    padding: 53px 40px;
    text-align: center;
  }

  .arrow-icon {
    display: flex;
    gap: 10px;
  }
  .arrow-icon span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light);
    width: 60px;
    height: 60px;
    font-size: 1.5rem;
    background: var(--orrange);
    border-radius: 50%;
    cursor: pointer;
  }
  /* standard curriculum ends */

  /* stories card styles starts */
  .stories-section {
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 60px 0;
    border: 1px solid red;
    background: url(../assets/bg.png),
      linear-gradient(
        0deg,
        rgba(254, 163, 1, 0.3),
        rgba(255, 255, 255, 0.3) 100%
      );
    background-position: center;
    background-size: cover;
  }

  .stories-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
  }

  .stories-card {
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .story-card-img {
    display: flex;
    position: relative;
    border: 1px solid red;
  }

  .story-card-img .btn {
    font-size: 1rem;
    padding: 14px 18px;
    position: absolute;
    bottom: -23px;
    left: 10%;
  }

  .btn-story-1 {
    background-color: var(--blue);
  }

  .story-card-content {
    padding: 34px;
    padding-top: 0;
    gap: 20px;
  }
  /* stories card styles ends */
}
